.forecast-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: 10px;
}

.forecast-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.cities-forecast-container {
  width: 800px
}

.weather-day-container {
  width: -moz-available;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 30px;
}

.weather-day {
  display: flex;
}

.select-forecast {
  display: flex;
  flex-direction: row;
  width: 800px;
}

.weather-card {
  margin: 20px
}

.select {
  flex-grow: 1
}
